{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <!-- https://memegen.link/ -->
    <img alt="{{ top }}" class="border img-fluid" src="https://memecomplete.com/share/images/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?background=https%3A%2F%2Fih1.redbubble.net%2Fimage.720311364.1617%2Fposter%2C840x830%2Cf8f8f8-pad%2C1000x1000%2Cf8f8f8.u5.jpg&watermark=memecomplete.com&token=ob6r5jn5dakfc1veew0ualt=https://i.imgur.com/CsCgN7Ll.png&width=400" title="{{ top }}"> 

