{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}

<p>
    Welcome to Max and Robbie's CS50 final project - TWorldMap!

    Currently, the Twitter landscape is too confusing for most people to make sense of it. 

    It's difficult to know where things are being spoken about the most in the world. 

    TWorldMap solves that problem by allowing you to enter a word into the search bar below, and find out which countries are tweeting the most about it!

    Enjoy!
</p>

<p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/800px-Twitter-logo.svg.png" alt="twitter" width="75" height="75">
</p>

    <form action="/" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="text" name="text" placeholder="Enter a word!" type="text" required>
        </div>
        <button class="btn btn-primary" type="submit">SEARCH</button>
    </form>
{% endblock %}









