{% extends "layout.html" %}

{% block title %}
    Map
{% endblock %}

{% block main %}

{% if total_tweets < 10 %}

Note that there are a limited number of tweets found for this query!

{% endif %}
<h1> Tweet: {{ user_input }}</h1>
<p> Total number of countries: {{ total_tweets }} </p>
    <body style="font-family:arial, sans-serif">
        <div id="myPlot" class="chart"></div>
    </body>

    <script>
        Plotly.newPlot("myPlot", {{graphJSON | safe}})
    </script>
{% endblock %}









